@use '../../style/variables';

.logement {
  margin: 0 auto; 
  padding: 0 20px;

  @include variables.respond-to('widescreen') {
    max-width: 1240px;
  }

  .logement_infos {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
    gap: 20px;

    @include variables.respond-to('desktop') {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 40px;
    }
    
    .hostRating_container {
      border: 1px solid variables.$primary-color;
      width: 100%;

      @include variables.respond-to('desktop') {
        width: calc(50% - 22px);
      }
    }
  }

  .collapse_container{
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include variables.respond-to('desktop') {
      flex-direction: row;
    }
  }
}