@use '../../style/variables';

.home {
  margin: 0 auto; 
  padding: 0 20px;

  @include variables.respond-to('widescreen') {
    max-width: 1240px;
  }
}

.banner_title{
  display: block;

  @include variables.respond-to('desktop') {
    display: inline;
  }
}
