@use '../../style/variables';

.card {
  position: relative;
  width: 100%;
  height: 255px;
  margin: 0 0 20px;
  border-radius: 10px;
  overflow: hidden;
  @include variables.animated_list; 

  @include variables.respond-to('desktop') {
    width: 31%;
    margin: 0 1% 40px 1%;
    height: 340px;
  }
 
  &_image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .7) 100%);
    opacity: .8;
    transition: all 1.2s ease-out;
  } 
    
  &:hover &_overlay{
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
    opacity: .4;
    transition: all .3s cubic-bezier(.01,.68,.93,.66);
  }

  &_title {
    color: variables.$secondary-txt-color;
    position: absolute;
    bottom: 0;
    margin: 0 20px 15px 20px ;
  }
}