@use '../../style/variables';

.infos{
  &_container {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
  }

  &_title {
    color: variables.$primary-color;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin: 0;
    padding: 20px 0 0;
      
    @include variables.respond-to('desktop') {
      font-size: 36px;
    }
  }

  &_location {
    color: variables.$primary-txt-color;
    font-size: 14px;
    font-weight: 500;
    margin: 15px 0;
      
    @include variables.respond-to('desktop') {
      font-size: 18px;
      margin: 5px 0 25px;
    }
  }

  &_tags {
    display: flex;
    flex-flow: row wrap;

    &Cont {
      font-size: 10px;
      font-weight: 700;
      color: variables.$secondary-txt-color;
      background-color: variables.$primary-color;
      padding: 5px 20px;
      margin: 0px 7px 7px 0;
      border-radius: 10px;
        
      @include variables.respond-to('desktop') {
        font-size: 14px;
      }  
    }
  }  
}