@use '../../style/variables';

.header{
  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    margin: 24px auto;
    padding: 0 20px;
        
    @include variables.respond-to('desktop') {
      height: 68px;
      margin: 48px auto;
      padding: 0 20px;
    }

    @include variables.respond-to('widescreen') {
      max-width: 1240px;
    }
  }

  &_logo{
    height: 47px;
    width: auto;    
        
    @include variables.respond-to('desktop') {
      height: 68px;
    }
  }
}