.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1240px;
    height: 68px;
    margin: 48px auto;
  }
.header_container-logo {
    height: 68px;
    width: auto;
}
