@use '../../style/variables';

.header{
  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1240px;
    height: 68px;
    margin: 48px auto;
  }

  &_logo{
    height: 68px;
    width: auto;
  }
}