@use '../../style/variables';

.header{
  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    margin: 48px auto;
    padding: 0 20px;
      
  @media only screen and (min-width: 1280px) {
    max-width: 1240px;
    padding: 0;
  }
  }

  &_logo{
    height: 68px;
    width: auto;
  }
}