@use 'variables';

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/***  GLOBAL RULES  ***/

.app {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: variables.$primary-bg;
}

.app h1 {
  padding: 100px 0;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.app a,
.app a:active,
.app a:visited {
  text-decoration: none;
  color: variables.$primary-txt-color;
}

.app ul {
  margin: 0;
  padding: 0;
}