//// Colors
$primary-color: #FF6060;

$primary-bg: #FFFFFF;
$secondary-bg: #F6F6F6;
$footer-bg: black;

$primary-txt-color: black;
$secondary-txt-color: white;

//// Breakpoints
@mixin respond-to($widescreen) {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin respond-to($desktop) {
  @media (min-width: 800px){
    @content;
  }
}

// Animated intro
@mixin animated_list{

  @for $i from 1 through 9 {
    &:nth-child(#{$i}) {
        animation: animated_list-item $i*200+10ms $i*200+500ms ease-out backwards;
    }
  }
  
  @keyframes animated_list-item {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}