//// Variables
$primary-color: #FF6060;

$primary-bg: #FFFFFF;
$secondary-bg: #F6F6F6;
$footer-bg: black;

$primary-txt-color: black;
$secondary-txt-color: white;

//// Breakpoint
$breakpoints: (
  'phone': 320px,
  'largephone': 600px,
  'pad': 767px,
  'desktop': 1024px,
  'widescreen': 1240px
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}