@use '../../style/variables';

.gallery {
  display: flex;
  flex-flow: column nowrap;
  min-height: 350px;
  padding: 0;
  margin-bottom: 30px;
  border-radius: 25px;

  @include variables.respond-to('desktop') {
    background-color: variables.$secondary-bg;
    flex-flow: row wrap;
    padding: 50px 50px 0 50px;
  }
}