@import '../../style/variables.scss';

.gallery{
    background-color: $secondary-bg;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 350px;
    padding: 50px 50px 0 50px;
    margin-bottom: 30px;
    border-radius: 25px;
}