@use '../../style/variables';

.gallery {
  display: flex;
  background-color: variables.$secondary-bg;
  flex-flow: row wrap;
  min-height: 350px;
  padding: 50px 50px 0 50px;
  margin-bottom: 30px;
  border-radius: 25px;
}