@import '../../style/variables.scss';

.footer {
  &_container{
    background-color: $primary-txt-color;
    color: $secondary-txt-color;
    text-align: center;
    padding: 66px 0 30px;
  }

  &_logo {
    height: 40px;
    width: auto;
    filter: brightness(100);
    margin-bottom: 40px;
  }

  &_credits {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
  }
}