@use '../../style/variables';

.nav {  
  > ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &_link {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 26px;
    text-decoration: none;
    
    & hr{
      border: none;
      margin:0;
      padding: 0;
    }

    &_isNotActive hr{
      width: 0;
      margin-left: 0;
      border-bottom: solid 1px variables.$primary-txt-color;
      transition: all .5s ease-out;
    }

    &_isNotActive:hover hr{
      width: 18px;
      margin-left: 0;
      border-bottom: solid 1px variables.$primary-txt-color;
      transition: all .15s ease-in-out;
    }

    &_isActive hr{
      width: 100%;
      border-bottom: solid 1px variables.$primary-txt-color; 
      transition: width .25s ease-out;
    }
        
    @include variables.respond-to('desktop') {
      font-size: 24px;
      text-transform: none;
      margin-left: 57px;
    }
  }
}