@use '../../style/variables';

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 111px;
  margin-bottom: 44px;
  border-radius: 25px;
  overflow: hidden;
        
  @include variables.respond-to('desktop') {
    height: 223px;
  }

  &_image {    
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &_title {
    position: relative;
    width: 100%;
    margin: 0 20px;
    color: variables.$secondary-txt-color;
    font-size: 24px;
    text-align: left;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
        
    @include variables.respond-to('desktop') {
      font-size: 48px;
      text-align: center;
    }
  }

  &_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
}