@use '../../style/variables';

.error {
  text-align: center;
  
  &_container {
  margin: 0 auto; 
  padding: 0 20px;
        
    @include variables.respond-to('widescreen') {
      max-width: 1240px;
    }
  }

  &_title {
    font-size: 96px;
    font-weight: 700;
    color: variables.$primary-color;
    margin: 0;
    padding: 80px 0 100px;
    opacity: 0;
    animation: reveal 1000ms 800ms forwards;
      
    @include variables.respond-to('desktop') {
      font-size: 288px;
      padding: 40px 0 100px;
    }
  }

  &_text {
    font-size: 18px;
    font-weight: 500;
    color: variables.$primary-color;
    margin-top: 0;
    margin-bottom: 120px;
    opacity: 0;
    animation: reveal 1000ms 1600ms forwards;

        
    @include variables.respond-to('desktop') {
      font-size: 36px;
    }
  }
  
  &_link {
    display: block;
    margin: 140px 0;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
        
    @include variables.respond-to('desktop') {
      font-size: 18px;
    }
  }
}

@keyframes reveal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
	}
}